<h2>Subscriber Data for <%= subscriber.firstName %> <%= subscriber.lastName %></h2>
<table class="table">
    <tr>
        <th>First Name</th>
        <td><%= subscriber.firstName %></td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td><%= subscriber.lastName %></td>
    </tr>
    <tr>
        <th>Email</th>
        <td><%= subscriber.email %></td>
    </tr>
    <tr>
        <th>Zip Code</th>
        <td><%= subscriber.zipCode %></td>
    </tr>
</table>
<div></div>
    <a href="/subscribers">View all subscribers</a>
</div>
<div>
    <a href="<%= `/subscribers/${subscriber._id}/edit` %>">Edit Subscriber Details</a>
</div>
<div>
    <a href="<%= `/subscribers/${subscriber._id}/delete?_method=DELETE` %>"
        onclick="return confirm('Are you sure you want to delete this record?')">
        Delete
    </a>
</div>